In [1]:
#importing pyspark
import pyspark

In [2]:
#importing sparksession
from pyspark.sql import SparkSession

In [3]:
#creating a sparksession object and providing appName 
spark=SparkSession.builder.appName("business_case_sql").getOrCreate()

In [9]:
#To create dataframe form External datasets
AirlineDF = spark.read.option("header", "true").csv("airlines1.csv")

To register dataframe as a table

In [10]:
AirlineDF.registerTempTable("AirlineTable")

/usr/local/spark/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [11]:
#how to read the register table
spark.sql("select * from AirlineTable").show(5)

+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|    OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|   Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|     Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|   Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|        Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
only showing top 5 rows

In [12]:
#count number of rows
spark.sql("select count(*) from AirlineTable").show()

+--------+
|count(1)|
+--------+
|   50001|
+--------+

In [13]:
#how to see all columns with datatype
spark.sql("describe AirlineTable").show(50)

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|                 _c0|   string|   null|
|                Year|   string|   null|
|             Quarter|   string|   null|
|               Month|   string|   null|
|          DayofMonth|   string|   null|
|           DayOfWeek|   string|   null|
|          FlightDate|   string|   null|
|   Reporting_Airline|   string|   null|
|DOT_ID_Reporting_...|   string|   null|
|IATA_CODE_Reporti...|   string|   null|
|         Tail_Number|   string|   null|
|Flight_Number_Rep...|   string|   null|
|     OriginAirportID|   string|   null|
|  OriginAirportSeqID|   string|   null|
|  OriginCityMarketID|   string|   null|
|              Origin|   string|   null|
|      OriginCityName|   string|   null|
|         OriginState|   string|   null|
|     OriginStateFips|   string|   null|
|     OriginStateName|   string|   null|
|           OriginWac|   string|   null|
|       DestAirportID|   string|   null|
|    DestAirportSeqID|   string|   null|
|    DestCityMarketID|   string|   null|
|                Dest|   string|   null|
|        DestCityName|   string|   null|
|           DestState|   string|   null|
|       DestStateFips|   string|   null|
|       DestStateName|   string|   null|
|             DestWac|   string|   null|
|          CRSDepTime|   string|   null|
|             DepTime|   string|   null|
|            DepDelay|   string|   null|
|     DepDelayMinutes|   string|   null|
|            DepDel15|   string|   null|
|DepartureDelayGroups|   string|   null|
|          DepTimeBlk|   string|   null|
|             TaxiOut|   string|   null|
|           WheelsOff|   string|   null|
|            WheelsOn|   string|   null|
|              TaxiIn|   string|   null|
|          CRSArrTime|   string|   null|
|             ArrTime|   string|   null|
|            ArrDelay|   string|   null|
|     ArrDelayMinutes|   string|   null|
|            ArrDel15|   string|   null|
|  ArrivalDelayGroups|   string|   null|
|          ArrTimeBlk|   string|   null|
|           Cancelled|   string|   null|
|    CancellationCode|   string|   null|
+--------------------+---------+-------+
only showing top 50 rows

In [14]:
# select some columns form table
spark.sql("select origin,destcityname from AirlineTable").show(5)

+------+--------------------+
|origin|        destcityname|
+------+--------------------+
|   MSP|  Salt Lake City, UT|
|   MKE|         Orlando, FL|
|   GJT|Dallas/Fort Worth...|
|   LAX|         Detroit, MI|
|   EWR|       Charlotte, NC|
+------+--------------------+
only showing top 5 rows

In [15]:
# average departure delay 
spark.sql("select avg(DepDelayMinutes) from AirlineTable").show()

+--------------------+
|avg(DepDelayMinutes)|
+--------------------+
|  10.851455322613475|
+--------------------+

In [16]:
#calculate overall flights delay 
spark.sql("select Flight_Number_Reporting_Airline,DepDelay+ArrDelay  from AirlineTable").show()

+-------------------------------+---------------------+
|Flight_Number_Reporting_Airline|(DepDelay + ArrDelay)|
+-------------------------------+---------------------+
|                            675|                 42.0|
|                            671|                 -2.0|
|                           3297|                 11.0|
|                           1806|                -20.0|
|                            465|                 83.0|
|                           1198|                 11.0|
|                           1431|                 -2.0|
|                           3459|                435.0|
|                           7233|                 12.0|
|                           5932|                 45.0|
|                           2135|                  8.0|
|                           1463|                 -5.0|
|                            830|                -13.0|
|                           6474|                -23.0|
|                            674|                -21.0|
|                            362|                 10.0|
|                           1678|                -18.0|
|                            413|                -35.0|
|                            210|                -17.0|
|                            995|                 null|
+-------------------------------+---------------------+
only showing top 20 rows

In [17]:
# count total number of flights by origin airport and total avg and maximum DepDelay time of each airport
spark.sql("select origin,count(*),avg(DepDelayMinutes),max(DepDelayMinutes) from AirlineTable where group by origin").show()

+------+--------+--------------------+--------------------+
|origin|count(1)|avg(DepDelayMinutes)|max(DepDelayMinutes)|
+------+--------+--------------------+--------------------+
|   ABE|      49|   6.659574468085107|                44.0|
|   ABI|      11|  0.5555555555555556|                 4.0|
|   ABQ|     290|   9.041958041958042|                 9.0|
|   ABR|       3|               284.0|               852.0|
|   ABY|       3|                20.0|                30.0|
|   ACK|       1|                 0.0|                 0.0|
|   ACT|      16|              3.1875|                33.0|
|   ACV|      14|   7.071428571428571|                 7.0|
|   ACY|       5|                 7.6|                38.0|
|   ADK|       2|                 6.5|                13.0|
|   ADQ|       4|   4.666666666666667|                14.0|
|   AEX|      11|   8.090909090909092|                34.0|
|   AGS|      27|  23.814814814814813|                64.0|
|   AKN|       2|                 9.5|                 4.0|
|   ALB|     111|  7.5504587155963305|                 9.0|
|   ALO|       3|                 0.0|                 0.0|
|   AMA|      47|   9.065217391304348|                72.0|
|   ANC|     146|  11.282758620689656|                 9.0|
|   APN|       2|                 0.0|                 0.0|
|   ART|       1|                 0.0|                 0.0|
+------+--------+--------------------+--------------------+
only showing top 20 rows

In [18]:
# calculate origin state wise cancelled flights
spark.sql("select OriginState,count(Cancelled) from AirlineTable where Cancelled = 1  group by originstate").show(5)

+-----------+----------------+
|OriginState|count(Cancelled)|
+-----------+----------------+
|         SC|               8|
|         AZ|              12|
|         LA|               5|
|         MN|              26|
|         NJ|              27|
+-----------+----------------+
only showing top 5 rows

In [19]:
#pass condition on two columns
spark.sql("select origin,count(*) from AirlineTable where year = 2010 and month = 6  group by origin order by count(*) desc").show()

+------+--------+
|origin|count(1)|
+------+--------+
|   ATL|       8|
|   ORD|       7|
|   PHX|       6|
|   DFW|       6|
|   MCO|       6|
|   LAX|       5|
|   IAH|       5|
|   CLE|       4|
|   CLT|       3|
|   BOS|       3|
|   MIA|       3|
|   SFO|       3|
|   CMH|       3|
|   LAS|       3|
|   MEM|       3|
|   TPA|       3|
|   IAD|       3|
|   EWR|       2|
|   DEN|       2|
|   SMF|       2|
+------+--------+
only showing top 20 rows

In [20]:
# pass more than two condition on difftent columns
spark.sql("select DOT_ID_Reporting_Airline from AirlineTable where year = 2015 and month = 12 and origin = 'JFK'").show()

+------------------------+
|DOT_ID_Reporting_Airline|
+------------------------+
|                   20409|
|                   19805|
+------------------------+

In [21]:
#rank and number of diverted flight by origin 
spark.sql("select origin,sum(diverted),RANK() over(order by sum(diverted) desc) AS RANKING from AirlineTable group by origin").show()

+------+-------------+-------+
|origin|sum(diverted)|RANKING|
+------+-------------+-------+
|   DEN|          6.0|      1|
|   ATL|          6.0|      1|
|   ORD|          6.0|      1|
|   MSP|          6.0|      1|
|   DFW|          5.0|      5|
|   FLL|          5.0|      5|
|   CVG|          4.0|      7|
|   CLT|          4.0|      7|
|   LAX|          4.0|      7|
|   MCO|          4.0|      7|
|   CMH|          3.0|     11|
|   SEA|          3.0|     11|
|   PDX|          3.0|     11|
|   BWI|          3.0|     11|
|   STL|          3.0|     11|
|   PIT|          3.0|     11|
|   DCA|          2.0|     17|
|   PSG|          2.0|     17|
|   BNA|          2.0|     17|
|   IAH|          2.0|     17|
+------+-------------+-------+
only showing top 20 rows

# Case Study 1
To calulate year wise on time flight performance

In [22]:
df1 = spark.sql("select year,count(*) AS TOTAL_FLIGHT ,count(arrdelay==0) AS TOTAL_ON_TIME,sum(cancelled) AS TOTAL_CANCELLED,sum(diverted) AS TOTAL_DIRVERTED from AirlineTable where group by year;")

In [23]:
df1.registerTempTable("AirlineTable1")

In [24]:
spark.sql("select * from AirlineTable1").show()

+----+------------+-------------+---------------+---------------+
|year|TOTAL_FLIGHT|TOTAL_ON_TIME|TOTAL_CANCELLED|TOTAL_DIRVERTED|
+----+------------+-------------+---------------+---------------+
|1987|         339|          336|            3.0|            0.0|
|2016|        1502|         1484|           17.0|            1.0|
|2020|         462|          438|           24.0|            0.0|
|2012|        1519|         1497|           20.0|            2.0|
|1988|        1310|         1293|           15.0|            2.0|
|2019|        1900|         1862|           34.0|            4.0|
|2017|        1449|         1421|           22.0|            6.0|
|2014|        1513|         1476|           31.0|            6.0|
|2013|        1690|         1663|           22.0|            5.0|
|2005|        1812|         1776|           33.0|            3.0|
|2000|        1477|         1432|           42.0|            3.0|
|2002|        1371|         1360|           11.0|            0.0|
|2009|        1604|         1578|           19.0|            7.0|
|2018|        1862|         1833|           24.0|            5.0|
|1995|        1377|         1352|           22.0|            3.0|
|2006|        1900|         1862|           30.0|            8.0|
|2004|        1847|         1815|           29.0|            3.0|
|2011|        1551|         1516|           29.0|            6.0|
|1989|        1288|         1259|           26.0|            3.0|
|1992|        1335|         1318|           14.0|            3.0|
+----+------------+-------------+---------------+---------------+
only showing top 20 rows

In [25]:
# performance in percentage
spark.sql("select year,TOTAL_FLIGHT,TOTAL_ON_TIME,TOTAL_ON_TIME*100/TOTAL_FLIGHT AS ON_TIME_PER,TOTAL_CANCELLED,TOTAL_CANCELLED*100/TOTAL_FLIGHT AS CANCELLED_PER,TOTAL_DIRVERTED,TOTAL_DIRVERTED*100/TOTAL_FLIGHT AS DIVERTED_PER from AirlineTable1;").show()

+----+------------+-------------+-----------------+---------------+------------------+---------------+-------------------+
|year|TOTAL_FLIGHT|TOTAL_ON_TIME|      ON_TIME_PER|TOTAL_CANCELLED|     CANCELLED_PER|TOTAL_DIRVERTED|       DIVERTED_PER|
+----+------------+-------------+-----------------+---------------+------------------+---------------+-------------------+
|1987|         339|          336|99.11504424778761|            3.0|0.8849557522123894|            0.0|                0.0|
|2016|        1502|         1484|98.80159786950732|           17.0|1.1318242343541944|            1.0|0.06657789613848203|
|2020|         462|          438| 94.8051948051948|           24.0| 5.194805194805195|            0.0|                0.0|
|2012|        1519|         1497|98.55167873601053|           20.0| 1.316655694535879|            2.0| 0.1316655694535879|
|1988|        1310|         1293|98.70229007633588|           15.0|1.1450381679389312|            2.0|0.15267175572519084|
|2019|        1900|         1862|             98.0|           34.0|1.7894736842105263|            4.0|0.21052631578947367|
|2017|        1449|         1421|98.06763285024155|           22.0| 1.518288474810214|            6.0| 0.4140786749482402|
|2014|        1513|         1476|97.55452742894911|           31.0| 2.048909451421018|            6.0| 0.3965631196298744|
|2013|        1690|         1663|98.40236686390533|           22.0| 1.301775147928994|            5.0| 0.2958579881656805|
|2005|        1812|         1776|98.01324503311258|           33.0|1.8211920529801324|            3.0|0.16556291390728478|
|2000|        1477|         1432| 96.9532836831415|           42.0| 2.843601895734597|            3.0| 0.2031144211238998|
|2002|        1371|         1360|99.19766593727206|           11.0|0.8023340627279358|            0.0|                0.0|
|2009|        1604|         1578| 98.3790523690773|           19.0|1.1845386533665836|            7.0|0.43640897755610975|
|2018|        1862|         1833|98.44253490870032|           24.0| 1.288936627282492|            5.0|0.26852846401718583|
|1995|        1377|         1352|98.18445896877269|           22.0| 1.597676107480029|            3.0| 0.2178649237472767|
|2006|        1900|         1862|             98.0|           30.0|1.5789473684210527|            8.0|0.42105263157894735|
|2004|        1847|         1815|98.26746074715756|           29.0|1.5701136978884678|            3.0|0.16242555495397942|
|2011|        1551|         1516|97.74339136041263|           29.0|1.8697614442295294|            6.0|0.38684719535783363|
|1989|        1288|         1259|97.74844720496894|           26.0| 2.018633540372671|            3.0| 0.2329192546583851|
|1992|        1335|         1318|98.72659176029963|           14.0| 1.048689138576779|            3.0| 0.2247191011235955|
+----+------------+-------------+-----------------+---------------+------------------+---------------+-------------------+
only showing top 20 rows

In [26]:
#To calulate origincityname wise on time flight performance

In [27]:
df2 = spark.sql("select origincityname,count(*) AS TOTAL_FLIGHT ,count(arrdelay==0) AS TOTAL_ON_TIME,sum(cancelled) AS TOTAL_CANCELLED,sum(diverted) AS TOTAL_DIRVERTED from AirlineTable where group by origincityname;")

In [28]:
df2.registerTempTable("AirlineTable2")

In [29]:
spark.sql("select * from AirlineTable2").show()

+------------------+------------+-------------+---------------+---------------+
|    origincityname|TOTAL_FLIGHT|TOTAL_ON_TIME|TOTAL_CANCELLED|TOTAL_DIRVERTED|
+------------------+------------+-------------+---------------+---------------+
|   Gainesville, FL|          18|           18|            0.0|            0.0|
|      Richmond, VA|         146|          141|            5.0|            0.0|
|        Tucson, AZ|         157|          155|            2.0|            0.0|
|       Ontario, CA|         270|          266|            3.0|            1.0|
|        Pierre, SD|           1|            1|            0.0|            0.0|
|       Medford, OR|          21|           21|            0.0|            0.0|
|  Myrtle Beach, SC|          41|           40|            1.0|            0.0|
|  Palm Springs, CA|          85|           80|            3.0|            2.0|
|       Redding, CA|           8|            8|            0.0|            0.0|
|       Durango, CO|           9|            9|            0.0|            0.0|
|Corpus Christi, TX|          48|           48|            0.0|            0.0|
|        Mobile, AL|          33|           33|            0.0|            0.0|
|       Dubuque, IA|           6|            5|            1.0|            0.0|
|    Fort Myers, FL|         193|          189|            4.0|            0.0|
|    Huntsville, AL|          67|           62|            5.0|            0.0|
|     Pensacola, FL|          73|           72|            1.0|            0.0|
|      Columbus, GA|          14|           14|            0.0|            0.0|
|   Springfield, IL|          12|           11|            1.0|            0.0|
|         Aspen, CO|          18|           16|            2.0|            0.0|
|      San Juan, PR|         181|          179|            2.0|            0.0|
+------------------+------------+-------------+---------------+---------------+
only showing top 20 rows

In [30]:
spark.sql("select origincityname,TOTAL_FLIGHT,TOTAL_ON_TIME,TOTAL_ON_TIME*100/TOTAL_FLIGHT AS ON_TIME_PER,TOTAL_CANCELLED,TOTAL_CANCELLED*100/TOTAL_FLIGHT AS CANCELLED_PER,TOTAL_DIRVERTED,TOTAL_DIRVERTED*100/TOTAL_FLIGHT AS DIVERTED_PER from AirlineTable2;").show()

+------------------+------------+-------------+-----------------+---------------+------------------+---------------+-------------------+
|    origincityname|TOTAL_FLIGHT|TOTAL_ON_TIME|      ON_TIME_PER|TOTAL_CANCELLED|     CANCELLED_PER|TOTAL_DIRVERTED|       DIVERTED_PER|
+------------------+------------+-------------+-----------------+---------------+------------------+---------------+-------------------+
|   Gainesville, FL|          18|           18|            100.0|            0.0|               0.0|            0.0|                0.0|
|      Richmond, VA|         146|          141|96.57534246575342|            5.0|3.4246575342465753|            0.0|                0.0|
|        Tucson, AZ|         157|          155|98.72611464968153|            2.0|1.2738853503184713|            0.0|                0.0|
|       Ontario, CA|         270|          266|98.51851851851852|            3.0|1.1111111111111112|            1.0|0.37037037037037035|
|        Pierre, SD|           1|            1|            100.0|            0.0|               0.0|            0.0|                0.0|
|       Medford, OR|          21|           21|            100.0|            0.0|               0.0|            0.0|                0.0|
|  Myrtle Beach, SC|          41|           40| 97.5609756097561|            1.0|2.4390243902439024|            0.0|                0.0|
|  Palm Springs, CA|          85|           80|94.11764705882354|            3.0|3.5294117647058822|            2.0| 2.3529411764705883|
|       Redding, CA|           8|            8|            100.0|            0.0|               0.0|            0.0|                0.0|
|       Durango, CO|           9|            9|            100.0|            0.0|               0.0|            0.0|                0.0|
|Corpus Christi, TX|          48|           48|            100.0|            0.0|               0.0|            0.0|                0.0|
|        Mobile, AL|          33|           33|            100.0|            0.0|               0.0|            0.0|                0.0|
|       Dubuque, IA|           6|            5|83.33333333333333|            1.0|16.666666666666668|            0.0|                0.0|
|    Fort Myers, FL|         193|          189|97.92746113989638|            4.0|2.0725388601036268|            0.0|                0.0|
|    Huntsville, AL|          67|           62|92.53731343283582|            5.0| 7.462686567164179|            0.0|                0.0|
|     Pensacola, FL|          73|           72|98.63013698630137|            1.0|  1.36986301369863|            0.0|                0.0|
|      Columbus, GA|          14|           14|            100.0|            0.0|               0.0|            0.0|                0.0|
|   Springfield, IL|          12|           11|91.66666666666667|            1.0| 8.333333333333334|            0.0|                0.0|
|         Aspen, CO|          18|           16|88.88888888888889|            2.0| 11.11111111111111|            0.0|                0.0|
|      San Juan, PR|         181|          179|98.89502762430939|            2.0|1.1049723756906078|            0.0|                0.0|
+------------------+------------+-------------+-----------------+---------------+------------------+---------------+-------------------+
only showing top 20 rows

In [31]:
# multiple group by columns
spark.sql("select origin,origincityname,count(*) from AirlineTable group by origin,origincityname;").show()

+------+--------------------+--------+
|origin|      origincityname|count(1)|
+------+--------------------+--------+
|   COS|Colorado Springs, CO|     100|
|   SDF|      Louisville, KY|     175|
|   CLL|College Station/B...|      10|
|   PIR|          Pierre, SD|       1|
|   MSN|         Madison, WI|      81|
|   EVV|      Evansville, IN|      18|
|   CMI|Champaign/Urbana, IL|      10|
|   GTR|        Columbus, MS|       2|
|   RIC|        Richmond, VA|     146|
|   STX|   Christiansted, VI|      11|
|   FLO|        Florence, SC|       4|
|   DCA|      Washington, DC|     704|
|   IPL|       El Centro, CA|       1|
|   CKB|Clarksburg/Fairmo...|       1|
|   GRI|    Grand Island, NE|       3|
|   ITO|            Hilo, HI|      26|
|   MSP|     Minneapolis, MN|    1128|
|   AVL|       Asheville, NC|      29|
|   CHS|      Charleston, SC|     109|
|   PIT|      Pittsburgh, PA|     641|
+------+--------------------+--------+
only showing top 20 rows

In [32]:
# rank of origin by number of flights
spark.sql("select rank() over (ORDER BY count(*)desc),origin,origincityname,count(*) from AirlineTable where group by origin,origincityname;").show()

+------------------------------------------------------------------------------------------------+------+--------------------+--------+
|RANK() OVER (ORDER BY count(1) DESC NULLS LAST ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)|origin|      origincityname|count(1)|
+------------------------------------------------------------------------------------------------+------+--------------------+--------+
|                                                                                               1|   ATL|         Atlanta, GA|    2669|
|                                                                                               2|   ORD|         Chicago, IL|    2536|
|                                                                                               3|   DFW|Dallas/Fort Worth...|    2188|
|                                                                                               4|   LAX|     Los Angeles, CA|    1718|
|                                                                                               5|   DEN|          Denver, CO|    1592|
|                                                                                               6|   PHX|         Phoenix, AZ|    1340|
|                                                                                               7|   IAH|         Houston, TX|    1212|
|                                                                                               8|   DTW|         Detroit, MI|    1190|
|                                                                                               9|   MSP|     Minneapolis, MN|    1128|
|                                                                                               9|   SFO|   San Francisco, CA|    1128|
|                                                                                              11|   LAS|       Las Vegas, NV|    1112|
|                                                                                              12|   EWR|          Newark, NJ|    1032|
|                                                                                              13|   CLT|       Charlotte, NC|     994|
|                                                                                              14|   LGA|        New York, NY|     954|
|                                                                                              15|   MCO|         Orlando, FL|     890|
|                                                                                              16|   BOS|          Boston, MA|     884|
|                                                                                              17|   SEA|         Seattle, WA|     855|
|                                                                                              18|   STL|       St. Louis, MO|     846|
|                                                                                              19|   SLC|  Salt Lake City, UT|     830|
|                                                                                              20|   PHL|    Philadelphia, PA|     784|
+------------------------------------------------------------------------------------------------+------+--------------------+--------+
only showing top 20 rows

In [33]:
#total air time and distance travel by flights
spark.sql("select AirTime,Distance from AirlineTable").show()

+-------+--------+
|AirTime|Distance|
+-------+--------+
|  153.0|   991.0|
|  141.0|  1066.0|
|  103.0|   773.0|
|  220.0|  1979.0|
|   80.0|   529.0|
|   28.0|   190.0|
|   94.0|   563.0|
|   35.0|   192.0|
|   59.0|   316.0|
|  114.0|   793.0|
|   null|   109.0|
|   77.0|   562.0|
|   null|  1045.0|
|   95.0|   677.0|
|   99.0|   733.0|
|   null|   278.0|
|   24.0|    98.0|
|  102.0|   689.0|
|  255.0|  2288.0|
|   null|   373.0|
+-------+--------+
only showing top 20 rows

In [34]:
#speed of flights in miles/hour

In [35]:
df3 = spark.sql("select AirTime/60 As AirTime_Hour,Distance from AirlineTable")

In [36]:
df3.registerTempTable("AirlineTable3")

In [37]:
spark.sql("select AirTime_Hour,Distance, Distance/AirTime_Hour from AirlineTable3").show()

+------------------+--------+-------------------------+
|      AirTime_Hour|Distance|(Distance / AirTime_Hour)|
+------------------+--------+-------------------------+
|              2.55|   991.0|        388.6274509803922|
|              2.35|  1066.0|        453.6170212765957|
|1.7166666666666666|   773.0|       450.29126213592235|
|3.6666666666666665|  1979.0|        539.7272727272727|
|1.3333333333333333|   529.0|                   396.75|
|0.4666666666666667|   190.0|        407.1428571428571|
|1.5666666666666667|   563.0|       359.36170212765956|
|0.5833333333333334|   192.0|        329.1428571428571|
|0.9833333333333333|   316.0|       321.35593220338984|
|               1.9|   793.0|        417.3684210526316|
|              null|   109.0|                     null|
|1.2833333333333334|   562.0|        437.9220779220779|
|              null|  1045.0|                     null|
|1.5833333333333333|   677.0|        427.5789473684211|
|              1.65|   733.0|       444.24242424242425|
|              null|   278.0|                     null|
|               0.4|    98.0|                    245.0|
|               1.7|   689.0|       405.29411764705884|
|              4.25|  2288.0|        538.3529411764706|
|              null|   373.0|                     null|
+------------------+--------+-------------------------+
only showing top 20 rows